<div class="app-container">
  <app-header (toggleSidebar)="toggleSidebar()"></app-header>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
      #sidenav 
      [opened]="sidebarOpen" 
      [mode]="'over'"
      (closed)="closeSidebar()"
      class="sidenav">
      <app-sidebar (closeSidebar)="closeSidebar()"></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
